% dep on ImgDB
server=localhost
password=hhmR8zkB8v3rRxbuDFPrJ
dbname=imap
port=3306
storage_engine=INNODB;
user=matlab

format=.mat
root=$$DATA/imap/.all
ln_root=$$DATA/imap

img=$$IMGDB__ROOT
img_db=$$IMGDB__DB
img_test=$$IMGDB__DB/$$DATA

all=$root
vet=$root
gen=$root
bin=$root
smp=$root
tbl=$root
pch=$root
pch_dmp=$root
dsp=$root
sel=$root

ln_all=$ln_root/@db/All
ln_vet=$ln_root/@db/vet
ln_gen=$ln_root/@db/gen
ln_bin=$ln_root/@db/bin
ln_smp=$ln_root/@db/smp

ln_tbl=$$DATA/patch
ln_pch_dmp=$$DATA/patch
ln_dsp=$root/@db/dsp
ln_sel=$root/@db/sel

prb=$$DATA/prb/.all
ln_prb=$$DATA/prb/@db

#all=$root/@db/All
#vet=$root/@db/vet
#gen=$root/@db/gen
#bin=$root/@db/bin
#smp=$root/@db/smp
